/*setting the body without any margin*/
body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-top: 60px;
    height: 100vh;
}

.item {
    flex: 2;
}

#postContainer {
    order: 1;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#commentContainer {
    order: 2;
}

#btnPost {
    width: 40px;
    height: 25px;
    margin-left: 5px
}

/*adding a fixed navbar so when it scroll down it comes with you*/
.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

/*layout of the navbar*/
.navbar a, #fillout {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navcenter {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navright {
    float: right;
}

.dropdown,
.anonymous {
    position: absolute;
    overflow: hidden;
    right: -750px;
}

#loginBtn {
    position: absolute;

    right: -690px;
}

.dropdown .dropbtn, .anonymous, #plus {
    height: 42px;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 3px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

#plus:hover {
    opacity: 30%;
}

.dropbtn, .anonymous {
    border-radius: 50%;
}

.navbar a:hover {
    background-color: red;
}

.dropdown-content, .dropdown-content-verticalmenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;

}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropImgBtn:hover {
    opacity: 30%;
    cursor: pointer;
}

.dropdownImg {
    position: relative;
    display: inline-block;
}

.dropdown-content-verticalmenu p {
    text-decoration: none;
    cursor: pointer;
}

#add-post-btn:hover {
    opacity: 30%;
    cursor: pointer;
}
