body {
    margin: 0;
}

.navbar {

    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;

}

.navbar a, form {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    height: 42px;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;

    padding: 0px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropbtn{
    border-radius: 50%;
    padding-top: 3px;
}
.navbar a:hover  {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main {
    margin-top: 50px
}
.container {
    max-width: 40em;
    margin: auto;
    padding: 1em;
}

.light-border {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 1em;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    align-items: center;
}

li {
    border: 5px solid gray;
    width: 30%;
    margin: 0.5em;
}

h3{
    border-bottom: 5px solid gray;
    border-top: 5px solid gray;
}
figure {
    margin: 0;
    padding: 0;
}

.resp {
    width: 100%;
}

.forms {
    display: flex;
    flex-wrap: wrap;
}

.form-wrapper {
    width: 33%;
}
