.container {
    display: flex;
    flex-direction: column;
    max-width: 497px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 130px;
    padding-bottom: 145px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: rgba(196, 196, 196, 1);
    margin-top: 0px;
}

h1 {
    max-width: 275px;
    color: rgba(0, 0, 0, 1);
    font-size: 36px;
    text-align: left;
    font-family: Roboto, sans-serif;
}

#username {
    display: flex;
    max-width: 397px;
    height: 86px;
    width: 397px;
    border-radius: 365px;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 20px;
}

#email {
    display: flex;
    max-width: 397px;
    height: 86px;
    width: 397px;
    border-radius: 365px;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 20px;

}

#passwd {
    display: flex;
    max-width: 397px;
    height: 86px;
    width: 397px;
    border-radius: 365px;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 20px;
}

#passwdAgain {
    display: flex;
    max-width: 397px;
    height: 86px;
    width: 397px;
    border-radius: 365px;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 20px;
}
#buttonRegister {
    display: flex;
    max-width: 397px;
    height: 86px;
    width: 397px;
    border-radius: 365px;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}
