
* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    margin: 0;
    background-color: rgb(240, 240, 240);
}
main {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5em;
    width: 1280px;
    max-width: 100%;
    padding: 0 30px;
}

.row {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.bg-white {
    background-color: rgb(255, 255, 255);
}

.card {
    padding: 15px;
    border-radius: 4px;
}

.mb-3 {
    margin-bottom: 15px;
}

#postContainer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: 5px;
    border-radius: 0.5em;
    width: 70%;
}

.editInput {
    flex-grow: 1;
    padding: 5px;
    font-size: 18px;
    background-color: rgba(151, 151, 151, 0.658);
    color: white;
    border: none;
    margin-right: 5px;
}

div#commentContainer h3 {
    padding: 15px 15px 0;
}

#comment {
    border-top: 1px solid gray !important;
    padding: 10px 15px;
}

#commentContainer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: 5px;
    border-radius: 0.5em;
    overflow: scroll;
    max-height: 50em;
    min-height: 50em;
    width: 30%;
    position: sticky;
    top: 70px;
}
#avatar {
    border-radius: 50%;
}

#comment {
    padding-left: 10px;
    border: 5px;
    list-style-type: none;
}

#commentHeader {
    display: flex;
    width: 100%;
    border: #333333 1px;
    padding: 10px 15px;
}
#postHeader {
    margin-bottom: 1em;
    display: flex;
}
h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    flex-grow: 4;
}
figure {
    width: 98%;
    margin: 5px;
}
#votesContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    align-items: center;
}

button#btnPost:hover {
    background-color: rgb(151 151 151 / 75%);
}

button#btnPost:hover {
    background-color: rgb(151 151 151 / 75%);
}

p#commentText {
    display: block;
    padding: 15px 0;
    font-size: 1.2em;
}

#comment button {
    margin-right: .8em;
}

.input-btn {
    flex-shrink: 0;
    padding: 5px;
    font-size: 18px;
    background-color: rgb(151 151 151 / 90%);
    color: rgb(0, 0, 0);
    border: none;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
    font-weight: bold;
}

/*adding a fixed navbar so when it scroll down it comes with you*/
.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 2;
}
#name {
    pointer-events: none;
}
#search-field {
    text-align: center;
    position: fixed;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    z-index: -2;
}
/*layout of the navbar*/
.navbar a,
#search-field {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#search-field input {
    padding: 5px;
    font-size: 18px;
    background-color: rgba(151, 151, 151, 0.658);
    color: white;
    border: none;
}
.navcenter {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-info {
    float: right;
}

.dropdown .dropbtn {
    height: 42px;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding-top: 8px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

#plus:hover {
    opacity: 30%;
}

.dropbtn {
    border-radius: 50%;
}

.navbar a:hover {
    background-color: rgb(0, 69, 134);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
}

.dropdown-content-verticalmenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    z-index: 1;
}

.btn-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 64%;
    background-position: 50%;
}

.btn-delete {
    background-image: url("../placeholder/delete.svg");
}

.btn-edit {
    background-image: url("../placeholder/edit.svg");
}

.btn-icon:hover {
    background-color: #3030305e;
}

img#upVote {
    float: right;
    width: 3rem;
    height: 3rem;
    padding: 5px;
    text-align: center;
    transition-duration: 0.2s;
}

img#downVote {
    float: right;
    width: 3rem;
    height: 3rem;
    padding: 5px;
    text-align: center;
    transition-duration: 0.2s;
}

p#voteCount {
    float: right;
    width: 2rem;
    height: 2rem;
    padding: 5px;
    text-align: center;
    transition-duration: 0.2s;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
