body {
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    /*main axis*/
    justify-content: center;
    /*cross axis*/
    align-items: stretch;
    position: relative;
}

.item {
    /*flex: flex-grow flex-shrink flex-basis*/
    flex: 1;
}

#first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    flex-direction: column;
    background-color: darkgray;
}

h1 {
    max-width: 300px;
    color: rgba(0, 0, 0, 1);
    font-size: 36px;
    text-align: left;
    font-family: Roboto, sans-serif;
}

.form {
    width: 100%;
}

#passwordAgain,
#password,
#email,
#username {
    display: flex;
    max-width: 397px;
    height: 65px;
    border-radius: 365px;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 20px;
}

#buttonRegister,
#buttonLogin {
    display: flex;
    height: 65px;
    width: 100%;
    background-color: rgba(243, 243, 243, 1);
    margin-top: 20px;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
}

#buttonRegister:hover,
#buttonLogin:hover {
    background-color: blue;
}

::placeholder {
    font-size: 30px;
    padding-left: 20px;
}

input[type='text'] {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

input[type='email'] {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

input[type='password'] {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#link {
    margin-top: 20px;
    text-decoration: none;
    color: black;
}
#link:hover {
    color: blue;
}

@media only screen and (max-width: 917px) {
    /*max the backgroung color when it becomes small enough*/
    .card {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
}
